# The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.
Example
The query_name is 'beta'. beta's average score is .
Input Format
The first line contains the integer , the number of students' records. The next  lines contain the names and marks obtained by a student, each value separated by a space. The final line contains query_name, the name of a student to query.

Constraints
Output Format
Print one line: The average of the marks obtained by the particular student correct to 2 decimal places.

Sample Input 0
3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika

Sample Output 0
56.00


Explanation 0
Marks for Malika are  whose average is 

Sample Input 1
2
Harsh 25 26.5 28
Anurag 26 28 30
Harsh

Sample Output 1
26.50"""

In [ ]:
n = int(input("Enter the number of students : "))
students = {}
for _ in range(n):
  line = input("Enter the name of student and their marks : ").split()
  name,scores = line[0],line[1:]
  scores = map(float,scores)
  students[name]=scores  
query_name = input("Enter the student name : ")
marks = 0
  
for i in students[query_name]:
  marks =marks+i
avg = float()
avg = marks/3
print("The percentage of student name : ","\n","_"*40)
print()
print("The average : ","%.2f"%avg)

Enter the number of students : 1
Enter the name of student and their marks : sai 20 30 40
Enter the student name : sai
The percentage of student name :
 ________________________________________

The average :  30.00

# In Python, a string can be split on a delimiter.

Example:

>>> a = "this is a string"
>>> a = a.split(" ") # a is converted to a list of strings. 
>>> print a
['this', 'is', 'a', 'string']
Joining a string is simple:

>>> a = "-".join(a)
>>> print a
this-is-a-string 
Task
You are given a string. Split the string on a " " (space) delimiter and join using a - hyphen.

Function Description

Complete the split_and_join function in the editor below.

split_and_join has the following parameters:

string line: a string of space-separated words
Returns

string: the resulting string
Input Format
The one line contains a string consisting of space separated words.

Sample Input

In [ ]:
def split_and_join(line):
    a = line.split(" ")
    a = "-".join(a)
    return a

line = input()
result = split_and_join(line)
print(result)

This is a string
This-is-a-string

# .intersection()
The .intersection() operator returns the intersection of a set and the set of elements in an iterable.
Sometimes, the & operator is used in place of the .intersection() operator, but it only operates on the set of
elements in set.
The set is immutable to the .intersection() operation (or & operation).
>>> s = set("Hacker")
>>> print s.intersection("Rank")
set(['a', 'k'])
>>> print s.intersection(set(['R', 'a', 'n', 'k']))
set(['a', 'k'])
>>> print s.intersection(['R', 'a', 'n', 'k'])
set(['a', 'k'])
>>> print s.intersection(enumerate(['R', 'a', 'n', 'k']))
set([])
>>> print s.intersection({"Rank":1})
set([])
>>> s & set("Rank")
set(['a', 'k'])
Task
The students of District College have subscriptions to English and French newspapers. Some students have
subscribed only to English, some have subscribed only to French, and some have subscribed to both
newspapers.
You are given two sets of student roll numbers. One set has subscribed to the English newspaper, one set
has subscribed to the French newspaper. Your task is to find the total number of students who have
subscribed to both newspapers.
Input Format
The first line contains , the number of students who have subscribed to the English newspaper.
The second line contains space separated roll numbers of those students.
The third line contains , the number of students who have subscribed to the French newspaper.
The fourth line contains space separated roll numbers of those students.
Constraints
Output Format
Output the total number of students who have subscriptions to both English and French newspapers.
Sample Input
9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
Sample Output
5
Explanation
The roll numbers of students who have both subscriptions:
and .
Hence, the total is students.

In [ ]:
# Enter your code here. Read input from STDIN. Print output to STDOUT 
# Enter your code here. Read input from STDIN. Print output to STDOUT 
num = int(input("no od stu : "))
count = 0
number_of_roll_numbers = int(input("Enter the number of roll numbers : "))
for i in range(number_of_roll_numbers+1):
    roll_no = i
french_sub = int(input("french sub : "))
enter_rool_no = input("roll no : ").split(" ")
enter_rool_no =map(int,enter_rool_no)
for j in (enter_rool_no):
  for k in range(french_sub):
    if j==k:
      count +=1
print(count)

no od stu : 9
Enter the number of roll numbers : 9
french sub : 9
roll no : 11 2 33 4 55 6 77 8 99 0
5

In [ ]:
num = int(input())
roll_numbers = set(map(int,input().split(" ")))

french_stu = int(input())
french_stu_r_n = set(map(int,input().split(" ")))

print(len(roll_numbers.union(french_stu_r_n)))

9
1 2 3 4 5 6 7 8 9
9
11 2 33 4 55 6 77 8 99 0
15

# Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given  scores. Store them in a list and find the score of the runner-up.

Input Format

The first line contains . The second line contains an array   of  integers each separated by a space.

Constraints

Output Format

Print the runner-up score.

Sample Input 0

5
2 3 6 6 5
Sample Output 0

5

In [ ]:
if __name__ == '__main__':
    def functon(op):
        n = int(input())
        a = list(map(int, input().split()))
        a.sort()
        for i in a :
            while a[-1] == i:
                del a[-1]
            op = a
            return max(op)
functon(op)

5
1 2 6 5 6

6

In [ ]:
def functon(op):
  n = int(input())
  a = list(map(int, input().split()))
  a.sort()
  for i in a :
    while a[-1] == i:
      del i
      op = a
    return max(op)
functon(op)

5
1 2 6 5 6

5

In [ ]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())

    lst = list(arr)
    scores = list()

    for i in lst:
        if i not in scores:
            scores.append(i)
        else :
            continue
    ordr = sorted(scores, reverse=True)
    print(ordr[1])

5
1 2 6 5 6
5

In [ ]:
n = 5
a = map(int, input().split())
list(a).sort()
b,a = set(a),list(b)
a[-2]

1 2 6 5 6

5

# You are given a string and your task is to swap cases. In other words, convert all lowercase letters to uppercase letters and vice versa.

For Example:

Www.HackerRank.com → wWW.hACKERrANK.COM
Pythonist 2 → pYTHONIST 2  
Function Description

Complete the swap_case function in the editor below.

swap_case has the following parameters:

string s: the string to modify
Returns

string: the modified string
Input Format

A single line containing a string .

Constraints


Sample Input 0

HackerRank.com presents "Pythonist 2".
Sample Output 0

hACKERrANK.COM PRESENTS "pYTHONIST 2".

In [ ]:
str = "HackerRank.com presents 'Pythonist 2'"
str.islower()

False

In [ ]:
def swap(s):
  string = ""
  for i in s:
    if i.islower():
      i = i.upper()
      string+=i
    elif i.isupper():
      i=i.lower()
      string+=i
    else:
      string+=i
  return string

s="HackerRank.com presents 'Pythonist 2'"
swap(s)

"hACKERrANK.COM PRESENTS 'pYTHONIST 2'"

# Task
The provided code stub reads two integers from STDIN,  and . Add code to print three lines where:

The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of the two numbers.
Example


Print the following:

8
-2
15
Input Format

The first line contains the first integer, .
The second line contains the second integer, .

Constraints



Output Format

Print the three lines as explained above.

Sample Input 0

3
2
Sample Output 0

5
1
6

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a+b)
    print(a-b)
    print(a*b)

3
5
8
-2
15

# Task
The provided code stub reads two integers,  and , from STDIN.

Add logic to print two lines. The first line should contain the result of integer division,  // . The second line should contain the result of float division,  / .

No rounding or formatting is necessary.

Example


The result of the integer division .
The result of the float division is .
Print:

0
0.6
Input Format

The first line contains the first integer, .
The second line contains the second integer, .

Output Format

Print the two lines as described above.

Sample Input 0

4
3
Sample Output 0

1
1.33333333333

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

3
5
0
0.6

# Given the names and grades for each student in a class of  students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

Example

The ordered list of scores is , so the second lowest score is . There are two students with that score: . Ordered alphabetically, the names are printed as:

alpha
beta
Input Format

The first line contains an integer, , the number of students.
The  subsequent lines describe each student over  lines.
- The first line contains a student's name.
- The second line contains their grade.

Constraints

There will always be one or more students having the second lowest grade.
Output Format

Print the name(s) of any student(s) having the second lowest grade in. If there are multiple students, order their names alphabetically and print each one on a new line.

Sample Input 0

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Sample Output 0

Berry
Harry
Explanation 0

There are  students in this class whose names and grades are assembled to build the following list:

python students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

The lowest grade of  belongs to Tina. The second lowest grade of  belongs to both Harry and Berry, so we order their names alphabetically and print each name on a new line.

In [ ]:
for i in range(int(input())):
  studentss= []
  names = input()
  scores = float(input())
python_students = [[['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]]
python_students.sort()
for i in python_students:
  print(i[1])

41
37.21
37.21
39
37.2

In [ ]:
if __name__ == '__main__':
    n = int(input())
    lis = []
    name_lis = []
    score_lis = []
    for _ in range(n):
      name = input()
      score = float(input())
      score_lis.append(score)
      lis.append([name,score])  
    
    #sec_score = sorted(score_lis)[1]
    s_score = list(sorted(score_lis))[1]
    for i in range(len(lis)):
      if sorted(lis)[i][1] == s_score:
        print(sorted(lis)[i][0])

3
s
2
d
1
w
2
s
w

# Task
Given an integer, , perform the following conditional actions:

If  is odd, print Weird
If  is even and in the inclusive range of  to , print Not Weird
If  is even and in the inclusive range of  to , print Weird
If  is even and greater than , print Not Weird
Input Format

A single line containing a positive integer, .

Constraints

Output Format

Print Weird if the number is weird. Otherwise, print Not Weird.

Sample Input 0

3
Sample Output 0

Weird
Explanation 0


 is odd and odd numbers are weird, so print Weird.

Sample Input 1

24
Sample Output 1

Not Weird
Explanation 1


 and  is even, so it is not weird.

In [ ]:
N = int(input())
if N % 2 != 0:
    print ("Weird")
else:
    if N >= 2 and N <= 5:
        print ("Not Weird")
    elif N >= 6 and N <=20:
        print ("Weird")
    elif N >20:
        print ("Not Weird")

32
Not Weird

# Task
The provided code stub reads and integer, , from STDIN. For all non-negative integers , print .

Example

The list of non-negative integers that are less than  is . Print the square of each number on a separate line.

0
1
4
Input Format

The first and only line contains the integer, .

Constraints


Output Format

Print  lines, one corresponding to each .

Sample Input 0

5
Sample Output 0

0
1
4
9
16

In [ ]:
n= 3
lis = [0]
for i in range(n):
  print(i**2)

0
1
4

# An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. Source

Task

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

Input Format

Read , the year to test.

Constraints


Output Format

The function must return a Boolean value (True/False). Output is handled by the provided code stub.

Sample Input 0

1990
Sample Output 0

False
Explanation 0

1990 is not a multiple of 4 hence it's not a leap year.

In [ ]:
def is_leap(year):
    leap = False
    
    if year%4==0 and year%100 ==0 and year%400==0:
      return False
    elif year==2100:
      return False
    elif year%4==0 :
      return True
    elif year%400==0:
      return True
    else :
      return leap

year = int(input())
print(is_leap(year))

2100
False

# In this challenge, the user enters a string and a substring. You have to print the number of times that the substring occurs in the given string. String traversal will take place from left to right, not from right to left.

NOTE: String letters are case-sensitive.

Input Format

The first line of input contains the original string. The next line contains the substring.

Constraints


Each character in the string is an ascii character.

Output Format

Output the integer number indicating the total number of occurrences of the substring in the original string.

Sample Input

ABCDCDC
CDC
Sample Output

2
Concept

Some string processing examples, such as these, might be useful.
There are a couple of new concepts:
In Python, the length of a string is found by the function len(s), where  is the string.
To traverse through the length of a string, use a for loop:

for i in range(0, len(s)):
    print (s[i])
A range function is used to loop over some length:

range (0, 5)
Here, the range loops over  to .  is excluded.

Language
Python 3


More
1234

In [22]:
def count_substring(string, sub_string):
    s = len(string)
    sub =len(sub_string)
    c = 0
    for i in range(s-sub+1):
        if string[i:i+sub]==sub_string:
            c=c+1
    return c  


if __name__ == '__main__':
    string = input().strip()
    sub_string = input().strip()
    
    count = count_substring(string, sub_string)
    print(count)

ABCDCDC
CDC
2

# Consider a list (list = []). You can perform the following commands:

insert i e: Insert integer  at position .
print: Print the list.
remove e: Delete the first occurrence of integer .
append e: Insert integer  at the end of the list.
sort: Sort the list.
pop: Pop the last element from the list.
reverse: Reverse the list.
Initialize your list and read in the value of  followed by  lines of commands where each command will be of the  types listed above. Iterate through each command in order and perform the corresponding operation on your list.

Example





: Append  to the list, .
: Append  to the list, .
: Insert  at index , .
: Print the array.
Output:
[1, 3, 2]
Input Format

The first line contains an integer, , denoting the number of commands.
Each line  of the  subsequent lines contains one of the commands described above.

Constraints

The elements added to the list must be integers.
Output Format

For each command of type print, print the list on a new line.

Sample Input 0

12
insert 0 5
insert 1 10
insert 0 6
print
remove 6
append 9
append 1
sort
print
pop
reverse
print
Sample Output 0

[6, 5, 10]
[1, 5, 9, 10]
[9, 5, 1]

In [42]:
if __name__ == "__main__":
    n = int(input())
    l = []
   
    for _ in range(n):
        cmd = input().split()
        if cmd[0]=="insert":
            l.insert(int(cmd[1]),int(cmd[2]))
        elif cmd[0]=="print":
            print(l)
        elif cmd[0]=="remove":
            l.remove(int(cmd[1]))
        elif cmd[0]=="append":
            l.append(int(cmd[1]))
        elif cmd[0]=="sort":
            l.sort()
        elif cmd[0]=="pop":
            l.pop()
        elif cmd[0]=="reverse":
            l.reverse()

2
insert 3 7
print
[7]